<!DOCTYPE html>
<html>
    <head>
        <title>selamat Datang Di MA al Djufri</title>
    </head>
<Body>
    <h1>Data Mahasiswa</h1>
    <u1>
        <li><a href="/" title="">Data Siswa</a></li>
    </u1>
    <u1>
        <li><a href="/" title="">Data Orang Tua</a></li>
    </u1>
    <u1>
        <li><a href="/" title="">Pekerjaan Orang Tua</a></li>
    </u1>
    <u1>
        <li><a href="/" title="">Asal Sekolah</a></li>
    </u1>
    <u1>
        <li><a href="/" title="">Kembali</a></li>
    </u1>
</Body>
</html>